h1 {
    border: dashed;
    border-color: blue;
    border-radius: 25px;
    background-color: aqua;
    text-align: center;
    font-size: 75px;
    margin: 0;
    text-shadow: -3px 1px 0 grey;
    text-transform: capitalize;
    text-decoration: underline;
    color: red;
    
}

    .first p {
        margin: 0;
        text-align: center;
        font-size: 50px;
        text-decoration: underline;
        flex-grow: 1;
        color: blue;
    } 

body {
    background-color:rgb(201, 255, 100);
    
    
    
    }
   
    }

    }

    li img {
        width: 200px;
        height: 400px;
        object-fit: cover;
      }

    ul {
    margin: 20px;
    background-color: rgb(233, 98, 7);
    font-style: oblique;
    text-align: right;
    display: flex;
    justify-content: space-between;
    min-height: 350px;
    list-style-type: none;
    color: whitesmoke;
}

    .menu li img {
        height: 300px;
        width: 300px;
        object-fit: cover;
        justify-content: space-between;
    }

    h2 {
      margin-block-start: 0;
      margin-block-end: 0;
    }

    h3 {
        color: brown;
    }

    .btm-btn {
        background: white;
    }

footer {
    position: bottom;
    margin-bottom: 15px;
}

@media(max-width:600px){
    body{
        width: 100%;
        float: none;
    }

    footer{
        width: 100%;
        float: none;
    }
}